* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuWKTTToxKH2cgxdJYL9nJpVY4l2magqADW8pCMZSa03I6mcj5Ng');
  background-size: cover;
}

main {
  font-family: 'Roboto Mono', monospace;
}

.landing-page {
  text-align: center;
  font-weight: bold;
}

.landing-page p {
  border: 1px solid pink;
  padding: 5px;
}

.landing-page-steps {
  border: 1px solid pink;
  background: pink;
  padding: 5px;
}

h6 {
  font-size: 20px;
}
button {
  font-family: 'Roboto Mono', monospace;
}

.js-rec-results button {
  font-family: 'Roboto Mono', monospace;
  border: 1px solid black;
}

.js-all-entries button {
  font-family: 'Roboto Mono', monospace;
  border: 1px solid black;
}

a {
  border: 1px solid black;
  color: black;
  margin-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
}

.nav-with-login-signup-logout a {
  border: none;
}

.intro {
  font-family: 'Roboto Mono', monospace;
}

.displayNone {
  display: none;
}

header {
  text-align:center;
}

.intro {
  padding: 20px;
}

form, footer {
  text-align: center;
}

.error-message, .no-saved-entries {
  margin-left: 20%;
  color: purple;
  margin-right: 20%;
 }

.js-rec-results, .js-all-entries {
  margin-top: 30px;
}

.book-rec {
  margin-top: 10px;
  padding: 20px;
  background: rgb(250, 250, 250, 0.5);
}

.book {
  padding: 20px;
  background: rgb(238, 238, 238, 0.5);
}

.title, .author, .rec-title, .rec-author {
  background-color: lemonchiffon;
}

.feelings-entry {
  background-color:#a7ffeb;
}

.saved-book-rec {
  margin-top: 10px;
  padding: 20px;
  background: rgb(250, 250, 250, 0.5);
  margin-bottom: 50px
}

button:hover {
  background-color: #fce4ec;
}

.btn-wrapper {
  position: relative;
}

.btn-footer-wrapper {
  margin-top:10px;
  position: fixed;
  width: 100%;
  background: #fce4ec;
  bottom: 0;
  z-index: 9;
  height: 6vh;
}

.btn-footer button:hover {
  background-color: #fce4ec;
}

h1 {
  line-height: 120%;
}

nav {
  background: white;
  width: 100%;
}

nav ul a {
  color: black;
}

nav ul li {
  float: right;
  border-left: 1px solid #e0e0e0;
}

#loading {
  margin-left: 30%;
  margin-right: 30%;
}

form {
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  width: 80%;
  text-align: center;
  margin-bottom: 10px;
}

.entry-input {
  color: black;
  font-size: 16px;
}

#sentiment-input {
  font-size: 0.8em;
  font-family: 'Roboto Mono', monospace;
  border-radius: 50px 20px;
  text-align: center;
  width: 50%;
  margin-bottom: 20px;
}

.signup, .login {
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 80px;
}

.logout-button, .signup-link, .login-link {
  font-family: 'Roboto Mono', monospace;
}

blockquote {
  border-left: 5px solid #e0e0e0;
  width: 70%;
  margin: 0 auto;
}

.entry-button {
  font-size: 12px;
}

h5 {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background: lemonchiffon;
}

@media screen and (min-width: 1100px) {
  blockquote {
    font-size: 20px;
  }
  .error-message, .no-saved-entries {
    font-size: 18px;
   }

}

@media screen and (min-width: 500px) {
  .landing-page {
     margin-top:50px;
     text-align: center;
     width: 75%;
     margin: 0 auto;
     font-size: 22px;
  }

  .error-message {
    margin-left: 20%;
    margin-right: 20%;
  }

  .no-saved-entries {
    margin-left: 35%;
  }

  .section-with-line {
    position: relative;
    width: 90px;
    margin: 60px auto;
    padding: 10px 0;
  }

  .section-with-line:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 1px;
    height: 100%;
    border-top: 50px solid #000;
    border-bottom: 30px solid #000;
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  header {
    font-family: 'Homemade Apple', cursive;
  }

  .entry-button {
    margin-top: 10px;
    float:right;
    border-radius: 50px 20px;
    padding: 10px;
    margin-bottom: 40px;
    margin-right: 10px;
  }
}

@media screen and (min-width:751px) {
  .js-all-entries, .js-rec-results {
    width: 70%;
    margin: 0 auto;
  }

  .error-message {
    margin-left: 30%;
    margin-right: 30%;
  }

}
